::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

body.is-mobile {
  overflow-x: hidden;
}

.page-scrollbar .scroll-content{
height: 100vh;
will-change: transform;
}

.scrollbar-track-y {
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
}

.scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: var(--dark);
  border-radius: 0px;
}
