body {
  background-color: #464b4f;
}
body,p, h1, h2, h3, h4, h5, h6, strong, b{
  color: #fff;
}

h1, h2, h3, h4, h5, h6,
.title {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  line-height: 1.4;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}
p{
  font-family: "Karla", Arial, Helvetica, sans-serif;
}
body.wp-admin div.mce-statusbar {
  border-top: 1px solid #464b4f;
}
body.wp-admin div.mce-panel {
  background: #32373b;
}
a{
  color: #8bb5f7;
}