.main-nav a,
.text-link,
.menu a {
	@apply relative py-8 w-fit leading-[1] flex items-center justify-center whitespace-nowrap font-medium tracking-[-0.03em] text-[14px] xl:text-[20px];
}

.main-nav a::after,
.menu a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.05em;
	pointer-events: none;
	background: currentColor;
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
	transition: transform 0.5s;
}

.main-nav ul {
	@apply flex gap-30 items-center;
}
.menu-item-has-children {
	position: relative;
}
ul.sub-menu {
	@apply bg-gray-3 rounded-[10px] absolute left-0 flex flex-col justify-start items-start m-0 z-[10] pointer-events-none opacity-0 invisible w-[17rem] p-30 text-gray gap-16;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	box-shadow: 0 9px 40px -12px rgba(86, 86, 86, 0.25);
	transition: opacity 0.2s ease, visibility 0.2s ease,
		-webkit-transform 0.2s ease;
	transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
	transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease,
		-webkit-transform 0.2s ease;
}
.sub-menu a {
	@apply py-0 lg:py-10;
}

.header-logo img {
	@apply max-h-[30px] xl:max-h-[48px] object-contain w-auto object-left;
}

.mobile-menu a {
	font-size: min(45px, calc(30px + 15 * (100vw - 320px) / 1640));
	@apply font-medium tracking-[-0.03em] leading-[115%] text-black;
}
.mobile-menu .menu-item-has-children > a {
	@apply text-gray-2 text-[16px];
}
.mobile-menu ul.sub-menu {
	@apply relative visible opacity-100 bg-primary p-0 mb-30 gap-[4px] pointer-events-auto;
}
.mobile-menu ul {
	@apply flex-col items-start gap-10;
}
.widget_media_image img {
	@apply max-h-84 object-contain;
}
.widget-title {
	@apply text-gray leading-[1.2] font-medium mb-16 lg:mb-30;
	font-size: min(20px, calc(16px + 4 * (100vw - 320px) / 1640));
}
.footer img {
	@apply object-contain;
}
/* Unordered List */
.editor-area p {
	@apply leading-[140%];
}
.editor-area {
	@apply list-none;
}
.editor-area ul {
	@apply list-none p-0 space-y-10 py-20;
}

.editor-area ul li {
	@apply relative pl-20 mb-10;
}

.editor-area ul li:last-child {
	@apply mb-0;
}

.editor-area ul li::before {
	@apply absolute left-0 top-[10px] size-8 bg-primary rounded-full;
	content: '';
}

.editor-area h2,
.editor-area h3 {
	@apply my-16 md:my-30;
}
.editor-area blockquote {
	@apply px-30 !mt-30;
}
.editor-area {
	@apply mt-60 text-black;
}
.editor-area h2 + ul {
	@apply pt-0;
}
.editor-area img {
	@apply my-30 rounded-[20px] overflow-hidden;
}

@media (hover: hover) {
	.menu-item-has-children:hover .sub-menu {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
	.main-nav a:hover::after,
	.menu a:hover::after {
		transform-origin: 0% 50%;
		transform: scale3d(1, 1, 1);
	}
}
