.flex-center {
	@apply flex items-center justify-center;
}
.ease {
	transition-timing-function: cubic-bezier(0.19, 1, 0.56, 1);
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.animated-heading {
	display: inline-block;
}
.animation-delay-100 {
	animation-delay: 100ms;
}
.animation-delay-200 {
	animation-delay: 200ms;
}
.animation-delay-300 {
	animation-delay: 300ms;
}
.animate-1000 {
	animation-duration: 0.7s;
}
.transition-transform {
	transition: transform 0.1s;
}
